.first-background-home-image {
  background-image: url("../../images/homevideo.mp4");
  background-color: #333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

