.home-images-container {
  padding-top: 50px;
}


.link-images-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.link-image {
  position: relative; 
  margin: 0; 
  width: 50%
}

.link-image:hover {
  filter: brightness(130%); 
}

.link-images-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
  color: white;
  text-transform: uppercase;
}

.link-images-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  transition: color 0.3s; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.link-image:hover .link-images-text {
  color: #e6c55c;
}

@media only screen and (min-width: 900px) {
  .home-images-container {
    padding-top: 20px;
  }

  .link-image {

  }
}

@media only screen and (max-width: 900px) {

  .link-images-container {
    flex-wrap: wrap;
  }

  .link-image {
    
  }

  .link-images-text {
    font-size: 3.5vw;
  }
}
