@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}

.footer {
  color: white;
  width: 100%;
  background-color: #333;
}

.footer-socials-trademark {
  display: flex;
  justify-content: space-around;
}

.footer-trademark {
}

.footer-text {
  text-align: left;
  font-family: "Roboto Condensed";
  padding: 0 2rem 1.5rem;
  font-size: 0.8rem;
}

.moving-text-animation {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  padding: 1.5rem 0;
}

.moving-text-animation span {
  font-family: "New Spirit Regular";
  font-size: 3.5rem;
  display: inline-block;
  animation: marquee 8s linear infinite;
  position: relative;
  z-index: 1;
}
