.footer-socials {
  display: flex;
  padding-top: 3rem;
}
.social {
  padding: 1.5rem 1rem 1.5rem 1rem;
  margin: auto;
  cursor: pointer;
  transition: 400ms ease;
  border-radius: 50%;
}
.social svg {
  margin: auto;
  margin-top: 400px;
}
a.svg {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.whatsapp {
  background-color: #18b111;
}
.whatsapp:hover {
  scale: 1.2;
}
.instagram {
  background: #d6249f;
  filter: drop-shadow(2px 0px 0px #d6249f) drop-shadow(-2px -2px 0px #fdf497);
}
.instagram:hover {
  scale: 1.2;
}
.tiktok {
  background-color: #fd3e3e;
  filter: drop-shadow(2px 0px 0px #fd3e3e) drop-shadow(-2px -2px 0px #4de8f4);
}
.tiktok:hover {
  scale: 1.2;
}
