@font-face {
  font-family: 'Great Vibes';
  src: url('./assets/fonts/GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Light.ttf') format('truetype');
}

body {
  background-color: #d6d5d5;
  transition: all 250ms ease-in-out;
}

.animate-logo {
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.animate-contacto {
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}
.animate-reservar {
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 2.5s;
  animation-fill-mode: backwards;
}
.animate-navigationbar {
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 3.5s;
  animation-fill-mode: backwards;
}
.animate-homeimages {
  animation-duration: 5s;
  animation-name: animate-fade;
  animation-delay: 4.5s;
  animation-fill-mode: backwards;
}
.animate-homeimages-title {
  animation-duration: 5s;
  animation-name: animate-fade;
  animation-delay: 90s;
  animation-fill-mode: backwards;
}
.animate-homeimages-subtitle {
  animation-duration: 5s;
  animation-name: animate-fade;
  animation-delay: 90s;
  animation-fill-mode: backwards;
}
.animate-homeimages-button {
  animation-duration: 5s;
  animation-name: animate-fade;
  animation-delay: 90s;
  animation-fill-mode: backwards;
}
.animate-homeimages-peluqueria {
  animation-duration: 5s;
  animation-name: animate-fade;
  animation-delay: 90s;
  animation-fill-mode: backwards;
}
.animate-homeimages-estetica {
  animation-duration: 5s;
  animation-name: animate-fade;
  animation-delay: 90s;
  animation-fill-mode: backwards;
}
.animate-homeimages-salon {
  animation-duration: 5s;
  animation-name: animate-fade;
  animation-delay: 90s;
  animation-fill-mode: backwards;
}
.animate-homeimages-barberia {
  animation-duration: 5s;
  animation-name: animate-fade;
  animation-delay: 90s;
  animation-fill-mode: backwards;
}
.animate-aboutus {
  animation-duration: 5s;
  animation-name: animate-fade;
  animation-delay: 5.5s;
  animation-fill-mode: backwards;
}



@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}